{{>layout/header}}

<h1>내가만든게시판좋은스프링게시판ver.2.1</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
<!--            {{#userName}}-->
<!--                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>-->
<!--                Logged in as: <span id="user">{{userName}}</span>-->
<!--                <a href="/logout" class="btn btn-info active" role="button">Logout</a>-->
<!--            {{/userName}}-->
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-secondary active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                <a href="/signin" class="btn btn-secondary active" role="button">Signin</a>
                <a href="/signup" class="btn btn-secondary active" role="button">Signup</a>
            {{/userName}}
        </div>
    </div>
    <br>
    <h3>회원가입</h3>
    <br>
    <form method="post" action="/users/join">
        <input type="text" class="form-control" name="name" placeholder="이름" title="이름" autocomplete="off">
        <input type="text" class="form-control" name="email" id="email" placeholder="이메일 주소"
               title="이메일" autocomplete="off">
        <input type="text" class="form-control" name="passwd" id="passwd" placeholder="비밀번호"
               title="비밀번호" autocomplete="off">

        <button type="submit" class="btn btn-dark topBtn"> 회원가입</button>
    </form>
</div>

{{>layout/footer}}